<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price predictor</title>
</head>
<body>
    <h1>This form predict the price of the car you need</h1>
    <div>
        <form action="url_for('predictor')" method="post">
            <label for="name">name:</label>
            <input type="text" name="name" id="name" placeholder="insert your name" required size="6">
            <input type="text" name="odometer" id="name" placeholder="Odometer" required size="23">

        </form>
    </div>
    
</body>
</html>